.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.mapboxgl-popup {
    max-width : 300px !important;
}

button:focus, button:focus-visible {
    outline: none;
}

.popup-table th, .popup-table td{
    padding: .5rem .5rem;
}
.norain tr td:first-child, .smallrain tr td:first-child, .mediumrain tr td:first-child, .heavyrain tr td:first-child,
.heavierrain tr td:first-child {
    text-wrap: nowrap;
}

.norain tr td:last-child, .smallrain tr td:last-child, .mediumrain tr td:last-child, .heavyrain tr td:last-child,
.heavierrain tr td:last-child {
    text-align: center;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.norain i, .smallrain i, .mediumrain i, .heavyrain i, .heavierrain i{
    font-size : 8px;
    margin : 0px 3px;
}
.mapboxgl-popup-close-button{
    font-size : 20px;
}
.smallrain i, .text-small {
    color: #1dade9;
}
.mediumrain i, .text-medium {
    color: #009300;
}
.heavyrain i, .text-heavy {
    color: #ff9600;
}
.heavierrain i, .text-heavier {
    color: #d84544;
}
.liststation {
    position: absolute;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
    z-index: 5;
    backdrop-filter: saturate(180%) blur(5px);
    background-color: #000000a6;
    margin: 10px;
    top: 0;
    bottom: 0;
    color: white;
    border-radius: 5px;
    min-width: 440px;
    display: flex;
    flex-direction: column;
    padding : 0px 3px;
}
.liststation p {
    margin : 0px;
}
.liststation h2{
    margin : 0px;
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    padding: 1rem ;
}

.liststation input {
    width: -webkit-fill-available;
    min-height: 35px;
    border-radius: 6px;
    border: none;
}
.liststation input:focus{
    transition: all .1s linear;
    border-color: #3b71ca;
    box-shadow: 0px 0px 0px 2px #3b71ca;
}
.liststation input:focus-visible{
    outline-offset : unset;
    outline : unset;
}
.liststation::-webkit-scrollbar {
    display: none; /* Chrome, Safari và Opera */
}
.liststation li {
    list-style-type : none;
    margin-bottom : 10px;
    cursor : pointer;
}
.click-view-provine li {
    cursor: pointer;
}

.liststation ul {
    padding: 0px;
    margin : 0px;
}

.liststation .listraininfo {
    margin: 10px 0px 8px 0px;
    overflow-y: scroll;
    height: 100%;
    padding : 0 1rem;
}
.listraininfo::-webkit-scrollbar {
    width: 10px;
}

.listraininfo::-webkit-scrollbar-track {
    background-color: transparent;
}

.listraininfo::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(136 136 136 / 50%);
}

.list-line-1 p, list-line-2 p {
    max-width: 350px
}
.liststation .station-name {
    font-size : 12px;
    color : #ffffff63;
}

.list-line-1, .list-line-2{
    display:flex;
    align-items:center;
    justify-content : space-between;
}

.type-rain{
    display :flex;
    align-items : center;
}
.type-rain img {
    width : 20px;
    margin-right : 5px;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top : 25px;
}

.search-header h3 {
    margin: 0px;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight : 400;
}

.form-control {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: width 0.3s ease;
    width: 0;
    overflow: hidden;
}

.form-control.active {
    width: 100%;
}
.seach-provine{
    margin :0px 1rem;
}
.seach-provine .search-icon {
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 4px;
    color: #999;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.search-icon:hover {
    color: #333;
    transform: scale(1.1);
}

.liststation .icon-back {
    color: white;
    margin-right: 5px;
    text-decoration : none;
}
.liststation .icon-back:hover{
    color :#ffffffb2;
}

.vnrain-toolbar img{
    width: 30px;
    height: 30px;
}

.popup-container-native{
    display : flex;
    align-items :center;
}


.r-overview .vnrain-toolbar {
    position: relative;
    z-index: 12;
    background-color: #1565c0;
}

.r-overview .liststation {
    position: relative;
    width: 40%;
    box-shadow: none;
    height: calc(100vh - 88px);
    background-color: #434343;
}
.r-overview .header-title {
    display: flex;
    align-items: center;
}
.r-overview .header-title .name-view {
    display: flex;
    align-items: center;
    margin-right : 36px;
}
.r-overview .vnrain-toolbar{
    padding : 13px 16px ;
    display : flex;
    align-items:center;
    justify-content : space-between;
}
.r-overview .vnrain-toolbar .view-fullprovine{
    text-decoration : none;
    color: #f5f5f5;
    height: 40px;
    background: rgba(11, 51, 96, .35);
    font-weight: 550;
}
.r-overview .vnrain-toolbar img{
    margin-right : 10px;
}
.r-overview .vnrain-toolbar .name-view span{
    font-size : 24px;
    font-weight : 700;
    color : white;
    padding-left : 15px;
    border-left : 1px solid #000;
}

.popup-chart-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index :99;
}

.popup-chart-container .css-times{
    position: absolute;
    top: -15px;
    right: 15px;
    font-size: 50px;
    color: white;
    cursor : pointer;
}

.popup-chart-container .css-times:hover{
    color :  #999999;
}
.popup-chart-content #view-station {
    padding: 12px;
    outline: unset;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    font-weight: bolder;
    box-shadow: none;
    cursor: pointer;
    background-color: #1565c0;
    color: white;
    height: 40px;
    margin-left: 16px;
}


.popup-chart-content {
    position :fixed;
    width: 85%;
    height: 85%;
    background-color : white;
    border-radius : 6px;
    padding : 15px;
}
.popup-chart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 40%);
}



.r-overview .vnrain-toolbar button {
    color: white;
    height: 40px;
    font-weight: 550;
    margin: 0px 5px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
}

.r-overview .vnrain-toolbar button.active{
    background: #e8f2fc;
    color: #0c386a;
}
.r-overview .vnrain-toolbar button.active:hover{
    background: #e8f2fcd8;
}
.r-overview .vnrain-toolbar button:hover{
    background: #e8f2fc17;
}
.r-overview .seach-provine {
    border-bottom: 1px solid rgb(255 255 255 / 48%);
}
.r-overview .seach-provine .search-header {
    margin-bottom : 10px;
}
.r-overview .map-icon {
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 4px;
    color: #999;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.r-overview .map-icon:hover {
    color: #333;
    transform: scale(1.1);
}
.containt-view-mapbox {
    width: 60%;
    height: calc(100vh - 88px);
    margin-right: 10px;
}
.view-mapbox {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}

.r-overview {
    background-color : black;
}

.table-rain {
    background-color: white;
    border-radius: 10px;
    white-space: nowrap;
}
.table-rain tbody{
    background-color: white;
    border-radius: 10px;
}


.table-rain th, .table-rain td {
    text-align: end;
}

.data-table {
    width: auto;
    max-height: calc(100vh - 161px);
    border-collapse: collapse;
    overflow-x: auto;
    position: relative;
    margin: 10px 16px 0px 16px;
    background-color: white;
}
.data-table table tr {
    background-color : white;
}
.data-table table {
    border-collapse : collapse;
}

.data-table table tr th {
    position: sticky;
    height: 52px;
    background-color: white;
    top: 0;
    padding: 0px 10px;
    border-bottom: 1px solid black;
}
.data-table table tr td {
    height: 52px;
    background: white;
    padding: 0px 10px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    width : fit-content;
}
.data-table table tr td:nth-child(1),
.data-table table tr td:nth-child(2) {
    min-width : 140px;
}
.data-table table tr td:nth-child(3),
.data-table table tr td:nth-child(4),
.data-table table tr td:nth-child(5),
.data-table table tr td:nth-child(6),
.data-table table tr td:nth-child(7) {
    min-width : 35px;
}
.table-scoll-able {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width : fit-content;
}

.table-scoll-able table thead {
    height:50px;
}

.data-table::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.data-table::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.data-table::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.data-table table {
    border-color: #dee2e6;
}
.data-table table tbody tr {
    border-bottom: 1px solid #dee2e6;
}
.data-table table tbody tr:hover td {
    background-color : aliceblue;
}
.active-row td {
    background-color: aliceblue !important;
}


.vdetail-chart {
    margin: 5px 16px;
    background-color: white;
}

.form-control {
    width: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #fafafa;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}
.container-select {
    position : relative;
}

.nagative-viewdetail {
    height: 44px;
    margin: 24px 16px 16px 16px;
    display: flex;
    align-items: center;
}
.nagative-viewdetail>button {
    padding: 12px;
    color: black;
    outline: unset;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    font-weight: bolder;
    box-shadow: none;
    cursor : pointer;
}
.nagative-viewdetail #view-station{
    background-color : #1565c0;
    color : white;
}
.nagative-viewdetail > * {
    margin : 0px 5px;
}
.form-control option {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    outline : none;
    border-radius : 6px;
    font-size: 16px;
}
.my-datepicker {
    height : 56px;
}

.table_type_text {
    text-align: start !important;
}


.nagative_report {
    height: 44px;
    margin: 24px 16px 16px 16px;
    display: flex;
    align-items: center;
    float : inline-end;
}

.nagative_report > button {
    padding: 12px;
    color: black;
    outline: unset;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    font-weight: bolder;
    box-shadow: none;
    cursor: pointer;
    margin-left : 10px;
}
.nagative_report button#addreport {
    background-color: #1565c0;
    color: white;
}
.dialog-button button {
    padding: 12px;
    color: black;
    outline: unset;
    border:none;
    border-radius: 6px;
    font-weight: bolder;
    box-shadow: none;
    background-color : transparent;
    cursor: pointer;
    margin-left: 10px;
}
.dialog-button button#sendreport {
    background-color :#1565c0;
    color : white;
}
.dialog-button button:hover {
    background-color: #ececec7f;
}
.dialog-report .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    background-color: white;
    padding-right: 5px;
}
.my-datepicker-3-strp, .my-datepicker-3-edrp{
    width : 49% !important; 
}
.my-datepicker-3-edrp{
    margin-left : auto !important;
}
.table-report {
    height : 100%;
    padding : 10px;
}
.table-report > div {
    max-height: calc(100vh - 160px);
}

.table-report > div::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.table-report > div::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.table-report > div::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.download_file {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
.download_file:hover {
    background-color: #ececec7f;
}

.vnrain-toolbar .side-bar-menu {
    display : none;
}
.vnrain-toolbar .vw-login-container{
    display : flex;
}
.view-mapbox-contents{
    width: 100% ;
    height: 80vh ;
    max-width: 80vw; 
    position: static;
}
.view-mapbox-contents .map-container {
    height: calc(100vh - 88px);
    border-radius: 6px;
}
.containt-view-exit{
    display: none;
}
@media (max-width: 575.98px) {
    .containt-view-mapbox .containt-view-exit{
        display: block;
        position: absolute;
        top: 0px;
        left: 15px;
        font-size: 40px;
        color: black;
        cursor : pointer;
        z-index: 20;
    }
    .my-datepicker{
        height: auto;
    }
    .containt-view-mapbox .containt-view-exit:hover{
        color :  #999999;
    }
    .popup-container-native .MuiFormControl-root{
        margin-left: 0px;
    }
    .my-datepicker-3-ed {
        margin-top: 0px !important;
        min-width: 150px  !important;
        width: min-content;
    }
    .my-datepicker-3-st {
        min-width: 150px !important;
        width: min-content;
    }
    .popup-chart-content .my-mode-view{
        display: inline-block;
    }
    .popup-chart-content {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .my-datepicker > div {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .popup-chart-container .css-times{
        z-index: 20;
        color: #000;
    }
    .containt-view-exit{
        display: block;
        position: absolute;
    }
    .view-mapbox-contents {
        max-width: none;
        position: relative;
    }
    .view-mapbox-contents .map-container {
        height: calc(100vh - 65px);
        border-radius: 0;
        width: 100%;
    }
    .liststation {
        min-width: auto;
        margin: 0px;
    }
    .containt-view-mapbox{
        display : none;
        position: relative;
        width: 100%;
        margin: 0px;
        height: calc(100vh - 65px);
    }
    .r-overview .liststation {
        width : 100%;
        height: calc(100vh - 65px);
    }
    .r-overview .vnrain-toolbar span {
        font-size: 18px;
    }
    .vnrain-toolbar .header-title .name-view span{
        font-size : 18px;
    }
    .vnrain-toolbar .header-title .button-view button{
        font-size: 14px;
    }
    .vnrain-toolbar .view-fullprovine {
        display : none;
    }
    .vnrain-toolbar .button-view {
        display :none;
    }
    .vnrain-toolbar .side-bar-menu {
        display: block;
    }
    .vnrain-toolbar .vw-login-container {
        display: none;
    }
    .vnrain-toolbar-sidebar .button-view-sidebar{
        padding :0;
    }
    .vnrain-toolbar-sidebar .button-view-sidebar li {
        list-style-type: none;
        font-size: 14px;
        display :grid;
    }
    .vnrain-toolbar-sidebar .button-view-sidebar li a {
        font-size: 14px;
        font-weight : 500;
        background-color: white;
        padding : 14px;
        font-family : "Inter var", sans-serif;
        border-radius :6px;
    }
    .vnrain-toolbar-sidebar .button-view-sidebar li a:hover {
        background-color: #b6b6b673;
        color: #717171;
    }
    .vnrain-toolbar-sidebar .button-view-sidebar li a:active {
        background-color: #459eff; 
        transform: scale(0.98);
    }
    .popup-container-native {
        flex-wrap: wrap;
    }
    .nagative-viewdetail{
        flex-wrap: wrap;
        height: auto;
    }
    .nagative-viewdetail > div{
        margin-left: 0px;
    }
    .nagative-viewdetail .my-datepicker {
        margin-left: 8px !important;
    }
    .table-report table {
        white-space: nowrap;
    }
    .form-box-report > div{
        min-width: auto !important;
    }
}

@media (max-width: 767.98px) {
    
}


.login-container {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 1;
    margin: 10px;
    border-radius: 6px;
    background-color : transparent;
}
.login-container .view-dangxuat{
    display : flex;
    align-items : center;
}
.login-container .view-dangxuat i {
    margin-left : 10px;
    padding : 9px;
    background-color : white;
    border-radius : 6px;
    cursor : pointer;
    border: 1px solid #ffffff;
}
.login-container .view-dangxuat i:hover{
    border: 1px solid #1dade9;
    color : #0000007c;
}
.login-container .view-dangxuat > button{
    background-color : white;
}

.user-native button {
    background-color: white !important;
    color: black !important;
    border-radius: 3px;
}

.button-nagative-user {
    cursor : pointer;
}
.button-nagative-user:hover {
    background-color : #ececec7f;
}

.open-layer {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.open-layer .container-link-layer {
    display: flex;
    flex-direction: column;
}
.open-layer .container-link-layer button {
    margin: 2px 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor : pointer;
    border: none;
    background: rgb(255 255 255 / 40%);
    transition: background 0.2s ease-in;
}
.open-layer .container-link-layer button:hover {
    background: rgb(255 255 255 / 80%);
}
.open-layer .container-link-layer button.active {
    background: rgb(255 255 255 );
}